# Get your API key at https://resend.com/api-keys
RESEND_API_KEY=

# Get these at your Supabase project dashboard: Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
